<%# Form for Users to Write a Comment%>

<%= form_for @comment do |form|  %>
  
<div class="form-group font-weight-bold">
  <div class="row m-auto">
  <%# Text Area for User to Write a Comment. It will Contain the Content and the User ID %>
    <%= form.text_area :content, width: "25",  placeholder: "Write a comment" %> 
    <div class="ml-1">
    <%= form.submit "Post", class:"btn btn-outline-dark my-2"%>
    </div>
      <%if @report%>
        <%= form.hidden_field :report_id, :value => @report.id %>
      <%end%>
       
  </div>

   

</div>
<% end %>

