
<%= form_for @comment do |form|  %>
 <div class="input-field col s6" style="margin:auto" >
    <%= form.text_area :content, placeholder: "Write a comment", class: "form-control",required: true%>

  <%if @report%>
    <%= form.hidden_field :report_id, :value => @report.id %>
<%end%>
  <div class="actions">
    <%= form.submit%>
  </div>
</div>
<% end %>

