@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.profile-img{
    text-align: center;
}

.profile-img img{
    width: 70%;
}

.profile-head h5{
    color: #353a3f;
}






 .link-btn{
    border: none;
    width: 50%;
    font-weight: 600;
    color: #353a3f;
    cursor: pointer;
  }
  .link-btn{
    color: #353a3f;
    text-decoration: underline;
  }
  
  .link-btn:hover{
    color: white;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
    text-decoration: none;
  }

.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}

.bg{
    background-image: image-url("background6.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 570px; 
    background-color: rgba(0, 0, 0, 0.486);
}

.signupbg{
    background-image: image-url("a.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 750px; 
}

.signinbg{
    background-image: image-url("cat-and-dog_transparent.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 600px; 
}
.edituserbg{
    background-image: image-url("pets1.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 628px; 
}
.forgotbg{
    background-image: image-url("Picture3.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 450px; 
}
.cardBody{
    background-color:rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 15px;
    background-image: image-url("background4.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 950px; 
}

.card-img-top{
    cursor: none;
}
.card{
    background-color: rgba(255, 255, 255, 0.788);
}
.none{
    cursor: none;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
}

.jumbotron{
    background-color: rgba(0, 0, 0, 0.486);
}

.navbg{
    background-color:rgba(0, 0, 0, 0.486);   
}

tbody{
    background-color: rgba(255, 255, 255, 0.171);  
    color:rgb(54, 54, 54);
    font-weight: bold;
}
thead{
    background-color: rgba(255, 255, 255, 0.274);  
    color:whitesmoke;
    font-weight: bold;
}

.table {
    border: 2px solid rgba(0, 0, 0, 0.322); 
}
.table th, .table td {
    border: 2px solid rgb(189, 188, 188); 
}
.setting{
    color: #5f5f61;
}
.show{
  color: white;
 }
 strong{
    color: rgba(0, 0, 0, 0.932);
 }

.showimg{
    height: 400px;
    width: 450px;
}
.homecardtext{
    color: #767679;
    font-weight: 600;
}

.form-inline{
    margin:auto;
    justify-content: center;
}
.form-inline .form-control {
    width: 50%;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}