@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}

.bg{
    background-image: url("background6.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 570px; 
    background-color: rgba(0, 0, 0, 0.486);
}

.cardBody{
    background-color:rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 15px;
    background-image: url("background4.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 950px; 
}

.card-img-top{
    cursor: none;
}
.card{
    background-color: rgba(255, 255, 255, 0.788);
}
.none{
    cursor: none;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
}

.jumbotron{
    background-color: rgba(0, 0, 0, 0.486);
}

.navbg{
    background-color:rgba(0, 0, 0, 0.486);   
}

tbody{
    background-color: rgba(255, 255, 255, 0.678);  
    color:white;
    font-weight: bold;
}
.thead{
    background-color:rgba(255, 255, 255, 0.678);   
}

.showbg{
    background-color:rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-weight: bold;
}
.showimg{
    height: 400px;
    width: 450px;
}