
<div class="container">  
    
   <div class="text-black jumbotron my-4 ">
      <p class="d-flex justify-content-end">
               <%# <%=image_tag("we.png", size:"20x20")%>
               <%if user_signed_in?%>
               Welcome <%= current_user.email%>
               <%end%>
      </p>
    
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h1 class="display-5">Edit A Report</h1>
            <p><%= render 'reports/form' %></p>
         </div>
         <div class="col-lg-7">
            <h1 class=" display-3"> Edit A Lost or Found Pet Report</h1>
            <%=image_tag("background7.jpeg",class:"img-fluid rounded" )%>
         </div>
      </div>
   </div>
</div>

