
<button type="button" class="btn btn-secondary" style="margin:15px;"><%= link_to 'Back', request.referer%>
</button>


<div style="margin:15px; text-align:center; font-family: 'Courier New', Courier, monospace;  font-size: 40px; color:gainsboro">
<h1>Report A pet</h1>
</div>
<%= render 'reports/form' %>