
<nav class="navbar  sticky-top navbar-expand-md navbar-dark bg-dark mb-4">
<a class="navbar-brand">
</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      
  
      <li class="nav-item ">
      <%= link_to('Home', home_path, class: 'nav-item nav-link active') %>
    </li>
    <li class="nav-item">
    <%= link_to('Report A Pet', reports_path,  class: 'nav-item nav-link active') %>
  </li>
    </ul>
    </form>
  </div>
</nav>